<h1>Salut ! Merci de confirmer ton email !</h1>

<p>
    Clique sur le lien suivant pour confirmer ton adresse email: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse</a>.
    Ce lien exprirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A très vite !
</p>
