#login-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.log-block {
  position: absolute;
  border-radius: 5px;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background-color: white;
  padding: .7rem 0;
  opacity: .95;

  h1 {
    font-size: 1.42rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem !important;
  }

  p {
    max-width: 70%;
    margin: auto;
    text-align: center;
  }

  a {
    font-size: .8rem;
    color: $secondary;
    text-align: center;
    display: block;
    padding-bottom: 0.6rem;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: .8rem 0;

    .form-group {
      width: 80%;
      margin: .5rem auto;

      label, input {
        width: 100%;
      }

      label {
        padding-bottom: .2rem;
      }
    }

    label {
      display: block;
      color: $placeholder-color;
      font-size: .6rem;
      text-transform: uppercase;
    } 

    > label {
      width: 80%;
      margin: auto;
    }

    input:not([type=checkbox]) {
      height: 2rem;
      border-radius: 3px;
      border: none;
      box-shadow: 0 1px 4px black;
    }

    input[type=checkbox] {
      height: 1rem;
      transform: translateY(85%);
      margin-left: 2rem;
      
      + label { margin-bottom: 1rem; }
    }

    > input {
      width: 80%;
      margin: .2rem auto .8rem auto;
    }

    button {
      margin: auto;
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .log-block { 
    width: 65%;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .log-block { 
    width: 40%;
  }
}